<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>New Place</title>
</head>
<body>
    <div class='container'>
        <h1>Places You've Been</h1>
        <form action='/view-places'>
            <div class='form-group'>
              <label for='city'>Enter a City:</label>
              <input id='city' name='city' class='form-control' type='text'>
            </div>
            <div class='form-group'>
              <label for='stayLength'>How Long Were You There?:</label>
              <input id='stayLength' name='stayLength' class='form-control' type='text'>
            </div>
            <div class='form-group'>
              <label for='visitType'>And Was The Visit for Business or Pleasure?:</label>
              <input id='visitType' name='visitType' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Create Posting</button>
        </form>
    </div>
</body>
</html>
